{% extends 'site/base.html' %}
{% load user %}

{% block base_title %}Unauthorized access{% endblock %}

{% block base_content %}
  <h1>Unauthorized access!</h1>

  <p>
    <b>This page available only for registered users.</b>
    You can authorize, or go back to the <a href="{{ previous_page }}">previous page</a>.
  </p>

  <p>
    If you have not an account than <a href="{% url user.registration %}?previous_page={{ current_page }}">{% translate "create new account" %}</a>.
  </p>

  {% login_form %}
{% endblock %}